@use '../base/variables' as variables;


.hero {
  background-image: url('../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  z-index: 1;

  // Altura mínima para mostrar el fondo correctamente
  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }

  h1,
  p,
  a {
    position: relative;
    z-index: 2;
  }

  .container {
    z-index: 2;
  }
}

#nombre-restaurante {
  font-family: variables.$fuente-logo;
  font-size: 3rem;
  font-weight: 700;
  color: variables.$color-primario;
}